* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  color: #fff;
}

body {
  color: #555;
  font-size: 1vw;
  position: relative;
}

.container {
  width: 100%;
  background-color: #3a0a5e;
}

/*
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
*/

/*LINKS*/

.nav {
  height: 10%;
  width: 100%;
  box-shadow: 0px 2px 40px 1px #2d2a30;
  z-index: 2;
  position: fixed;
  opacity: 1;
  background-color: #3a0a5e;
}

.logo {
  float: left;
  padding: 0;
  margin: 0;
  max-height: 100%;
  border-radius: 50%;
  cursor: pointer;
}

.icons-container {
  position: absolute;
  z-index: 2;
  height: 20%;
  width: 3%;
  margin-top: 19%;
  position: fixed;
  text-align: center;
}

.icons {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  list-style: none;
}

.social {
  font-size: 30px;
  color: #959595;
  transition: font-size 0.2s;
}

.social:hover {
  font-size: 40px;
  color: #f0e7e7;
  cursor: pointer;
}

.nav-links {
  width: 40%;
  float: right;
  height: 100%;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links li {
  width: 30%;
  list-style: none;
  font-size: 2vw;
  color: #fff;
  flex-grow: 1;
  transition: font-size 0.2s;
}
/*  NOT SURE ABOUT TRANSITIONS ON NAV BAR*/

.nav-links li:hover {
  font-size: 190%;
  cursor: pointer;
}

/*
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
*/

/*HOME*/

.home-container {
  height: 100vh;
  background-color: #3a0a5e;
  max-width: 80vw;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid #fff;
}

.hero-style-text {
  color: #fff;
  margin-left: 10%;
  max-width: 100%;
  padding-top: 20%;
}

.hero-1 {
  font-size: 3vw;
}

.hero-2 {
  font-size: 5vw;
  padding-left: 3%;
}

.hero-3 {
  font-size: 6vw;
  padding-left: 7%;
}

/*
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
*/

/*ABOUT ME*/

.about-me-container {
  height: 100vh;
  background-color: #3a0a5e;
  max-width: 80vw;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid #fff;
  text-align: center;
  position: relative;
}

.about-me-header {
  width: 100%;
  text-align: center;
  font-size: 3vw;
  margin: 4% 0;
}

.about-me-text {
  width: 100%;
  margin: 4% 0;
}

.stack-icons-container {
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: space-around;
  position: absolute;
  bottom: 10%;
}

.stack-icons-container img {
  height: 100%;
  width: 20%;
}
/*
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
*/

/*PROJECTS*/

.projects-container {
  height: 100vh;
  background-color: #3a0a5e;
  max-width: 80vw;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid #fff;
}

.projects-header {
  width: 100%;
  text-align: center;
  font-size: 3vw;
  margin: 2% 0;
}
.project-cards-container {
  width: 100%;
  height: 80%;
  background-color: yellow;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.project-card {
  height: 80%;
  width: 30%;
  background-color: green;
}

#modal {
  z-index: 10;
  height: 100vh;
  width: 100vw;
  background-color: rgb(0, 0, 0, 0.2);
  position: fixed;
  left: 0;
  bottom: 0;
  display: none;
}

.project-content {
  z-index: 20;
  position: fixed;
  width: 80vw;
  height: 70vh;
  background-color: yellow;
  left: 10%;
  bottom: 10%;
  text-align: center;
  font-size: 40px;
  color: black;
}

#project-1-content,
#project-2-content,
#project-3-content {
  display: none;
}

/*
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
*/

/*CONTACT*/

.contact-container {
  height: 100vh;
  background-color: #3a0a5e;
  max-width: 80vw;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid #fff;
}

.contact-form {
  width: 100%;
  height: 70%;
  margin: auto;
  background-color: rgb(76, 31, 109);
  position: relative;
  top: 15%;
  vertical-align: middle;
  display: flex;
  flex-direction: column;
}

.contact-message {
  width: 80%;
  height: 10%;
  color: #fff;
  text-align: center;
  font-size: 40px;
  margin-top: 2%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.form-el-1 {
  margin-top: 4%;
  width: 80%;
  height: 6%;
  margin-bottom: 2%;
  margin-left: 10%;
  position: relative;
  font-size: 130%;
}

.form-el-2 {
  width: 80%;
  height: 6%;
  margin-bottom: 2%;
  margin-left: 10%;
  position: relative;
  font-size: 130%;
}

.form-el-3 {
  width: 80%;
  height: 45%;
  margin-bottom: 1%;
  margin-left: 10%;
  position: relative;
  font-size: 130%;
  resize: none;
}

.submit {
  display: block;
  margin-left: 10%;
  width: 10%;
  height: 5%;
  font-size: 100%;
}
